* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  background-size: cover;
  background-image: url(./images/magicBG.png);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  margin: 0;
}

.game-container {
  justify-content: center;
  height: 100%;
}
.card-container {
  justify-content: center;
  display: flex;
  width: 600px;
  padding-left: 19rem;
}

.card-wrapper {
}

.card {
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  justify-content: center;
}

.heading {
  text-align: center;
}

.score-board {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.current-score,
.high-score {
  font-size: 30px;
  font-weight: bold;
}
